//  Jeremy "Jay" Sweet
//  Mobile Interfaces and Usability 1307
//  Project 1 - 10 July 2013
 
h1 {
	margin: -10px;
	padding: 5px;
	background: #888681;
	border: 1px solid #000;
}

h2 {
	color: blue;
}

fieldset {
	width: 1--%;
	margin-top: 10px;
}

div {
	margin: 20px;
}

nav {
	margin: 20px;
}

label {
	display: block;
	text-align: left;
}

//a {
//	outline: 1px dotted red;
//	margin: 5px;
	
}

legend {
	font-weight: bold;
	text-align: center;

}

p {
	text-decoration:underline;
}

ul {
	padding: 10px;
	background-color: #ddedff;
}



.iteminput {
	display: block;
    border: 1px solid #006;
    background: #ffc;
}

.centerMe {
    text-align: center;
}

.button {
	margin: 10px;
	width: 65%;
	height: 30px;
    border: 1px solid #006;
    background: #7ed8f2;
}